nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #376475;
    color: white;
    padding: 20px 50px;
}

nav a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #03A9F4;
}