.example-card {
  max-width: 350px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.image-size {
  height: 250px;
  object-fit: cover;
}